.button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.button:hover {
    filter: var(--hover);
}

.icon {
    background-color: gray;
    width: 16px;
    height: 16px;
    mask-size: cover;
}

.button:disabled {
    cursor: auto;
    filter: opacity(50%);
}

.upload {
    mask-image: url(../../icons/upload.svg);
}

.remove {
    mask-image: url(../../icons/delete.svg);
}

