.spinner {
    border: 2px solid #bbcfdc; /* Light grey */
    border-top: 2px solid var(--primary-color); /* Blue */
    border-radius: 50%;
    --size: 16px;
    width: var(--size);
    height: var(--size);
    min-width: var(--size);
    min-height: var(--size);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
