.file {
    font-size: 14px;
    display: flex;
    height: 25px;
    gap: 3px;
    align-items: center;
    background: #bbcfdc;
    border-radius: 15px;
    padding: 0 5px;
}

.close {
    background: var(--primary-color);
    mask-image: url('../../icons/cancel.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 16px;
    height: 16px;
    min-width: 16px;
    cursor: pointer;
}

.close:hover {
    filter: var(--hover);
}

.name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.link {
    text-decoration: none;
    color: #007abf;
}
