.component {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.files {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    border: 1px solid gray;
    border-radius: 3px;
    min-height: 25px;
    gap: 3px 5px;
    padding: 3px;
}

.input {
    display: none;
}

.spinner {
    margin-left: -36px;
    position: absolute;
}
