:root {
  --header-height: 80px;
  --footer-height: 40px;
  --background-color: #f4f7f9;
  --base-color: #4e6672;
  --primary-color: #007abf;
  --success-color: #6b49cf;
  --hover: brightness(120%);
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
